@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #002B5B;
  --white: #ffffff;
}

html, body, #root { height: 100%; }
body {
  font-family: 'Nunito', sans-serif;
  background-image: url('/medical-seamless-pattern-hospital-background-with-vector-icons-health-care-equipment_124013-288.jpg');
  background-size: 200px 200px;
  background-repeat: repeat;
  background-attachment: fixed;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  pointer-events: none;
  z-index: -1;
}